---
lang: sv
title: BeerDeer
menuname: hem
description: Vi är en svensk importör av kvalitetsöl. Vi tillhandahåller öl som är gedigen, genomtänkt och god.
layout: withnav
order: 1
menuitem: true

---

{% comment %}
![stout in the woods](/images/pexels-eva-elijas-5659716-cr.jpg)
{% endcomment %}

<div>
    <p>
      Vi är en svensk importör av kvalitetsöl. Amerikanska hantverksipor, traditionella tyska stilar, experimentell suröl ... Vi gillar allt som är gediget, genomtänkt <b>och gott!</b></p>
  </div>

<!-- 
{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}
-->

<div class="news-list" title="Nyheter från BeerDeer">
<h1 style="text-align: center;">Nyheter från BeerDeer</h3>
<ul>
{% for post in paginator.posts %}
<li>
  <mark>
  <a href="{{ post.ext_url }}" target="_blank">
  <img src="{{ post.image_path }}" alt="{{ post.title }}" width="648" height="648"/>
  </a>
  <p><b>{{ post.title }}</b><br>{{ post.content }}</p>     
  </mark>
{% endfor %}
</li>
</ul>
</div>

<!-- Pagination links -->
<div class="pagination" style="text-align: center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">nyare</a>
  {% else %}
    <span class="previous">nyare</span>
  {% endif %}
  &nbsp|&nbsp
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">äldre</a>
  {% else %}  
    <span class="previous">äldre</span>
  {% endif %}
</div>
