---
layout: default
---

<header>




  <!-- div class="menu">
  {% assign sorted_pages = site.pages | sort:"order" %}
  {% if site.theme_config.show_navbar == true %}  
  <ul class="horizontal-list">
    {% for node in sorted_pages %}
      {% if node.title != null and node.title != "" %}
        {% if node.title == "hem" %}
          <li style="display: inline-block;"><a href="{{node.url}}"><img style="display: inline-block; height: 6em;" src="/images/company/BeerDeer.png"></a></li>
        {% else if page.url != node.url %}
          <li style="display: inline-block;"><a href="{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div -->


{% if site.theme_config.show_navbar == true %}
{% assign sorted_pages = site.pages | sort:"order" %}  
<div class="flex-container">
  {% for node in sorted_pages %}
  {% if node.title != null and node.title != "" %}
  {% if node.title == "hem" %}
  <div class="flex-child-image">
    <a class="image-link" href="{{node.url}}"><img src="/images/company/BeerDeer.png"></a></li>
  </div>
  {% elsif page.url != node.url %}
  <div class="flex-child">
    <a href="{{node.url}}">{{node.title}}</a>
  </div>  
  {% else %}
  <div class="flex-child">
    <a class="disabled-link" href="{{node.url}}">{{node.title}}</a> 
  </div>  
  {% endif %} 
  {% endif %}
  {% endfor %} 
</div>
{% endif %}

<div class="dashed"></div>
</header>

{{ content }}

{% if site.theme_config.show_footer == true %}
  &nbsp  
  <footer>    
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}