---
layout: default
---

<header>
  <div class="menu">
  {% assign sorted_pages = site.pages | sort:"order" %}
  {% if site.theme_config.show_navbar == true %}  
  <ul class="horizontal-list">
    {% for node in sorted_pages %}
      {% if node.title != null and node.title != "" %}
        {% if page.url != node.url %}
          <li><a href="{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="dashed"></div>
</header>

{{ content }}

{% if site.theme_config.show_footer == true %}
  &nbsp  
  <footer>    
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}